.search-container{

  .s-sect{
    display:flex;
    //flex-direction:column;
    justify-content:center;
    margin-left: 10%;
    margin-right:10%;


    .search-text{
      height : 50px;
      width : 100%;
      border-radius:15px;
      flex:2;

    }

    .search-btn{
      flex:1;

    }

    button{
      cursor: pointer;

    }

  }

  .total{
    text-align:center;
    color:white;
  }


  .job-comp{
    color:white;
    margin-left: 5%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    //border: 1px solid rgba(255, 255, 255, 0.3);
    border: none;

    a{
      font-weight:bold
    }
  }



}