.compare-popularity{
  display: flex;
  flex-direction: column;
  height: 100%;

  .input{
    height:40px;
    border-radius: 10px;
    margin-bottom:1.5%;
    border: none;
    color:brown;

  }

  .cities{
    display:flex;
    justify-content:space-between;
  }

  button{
    height: 40px;
    cursor: pointer;
    background-color:#6D6459;
    color:white;
    border:none;
  }

}

@media (max-width: 600px){
  .compare-popularity{
    height: 100%;
    width: 70%;
    margin-left:2%;

    .input{
      height:40px;
      border-radius: 10px;
      margin-bottom:1.5%;
      border: none;
      color:brown;
    }

    .cities{
      display:flex;
      justify-content:space-between;
    }

    button{
      height: 40px;
      cursor: pointer;
      background-color:#6D6459;
      color:white;
      border:none;
      width:200px;
      margin-left:35%;
    }

    .bar{
      margin-top: 5%;
      width:100px;

      margin-left:-22%;
    }

  }


}