.salary-search{
  display: flex;
  flex-direction: column;

  .input{
    height:40px;
    border-radius: 10px;
    margin-bottom:1.5%;
    border: none;
  }

  .cities{
    display:flex;
    justify-content:space-between;
  }

  button{
    height: 40px;
    cursor: pointer;
    background-color:#6D6459;
    color:white;
    border:none;
  }

}